{% extends "layout.html" %}
{% block title %}
Catalog
{% endblock %}
{% block content %}

<form method="get" action="http://localhost:5000/catalog/search">
    <select name="colName" id="colName" onChange="checkComparatorDisplaying()">
        {% for col in displayedColNames %}
        <option value={{col}}>{{col}}</option>
        {% endfor %}
    </select>
    <select name="comparator" id="comparator" style="display: none;">
        <option value="=">=</option>
        <option value=">">></option>
        <option value="<"><</option>
        <option value=">=">⩾</option>
        <option value="<=">⩽</option>
    </select>
    <input type="search" id="searchInput" name="searchInput" required>
    <button type="submit">Search</button>
</form>

<script>
function checkComparatorDisplaying() {
    var selectedIndex = document.getElementById("colName").selectedIndex;
    var comparatorDisplay = document.getElementById("comparator").style.display;
    if ({{colTypes[selectedIndex]}}=="str") {
        comparatorDisplay="none";
        alert("if");
    }
    else {
        comparatorDisplay="block";
        alert("else");
    } 
}
</script>

<table id = "tableData">
    <thead>
        <tr class = "border" id = "trNames">
            {% for col in displayedColNames %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in range(records|length) %}
        {% set link = "location.href='/record/"+i|string+"'" %}
        <tr class = "border" onclick={{link}}>
            {% for col in colNames %}
            <td id = "tdData">{{ records[i][col] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody> 
</table>

{% endblock %}
