{% extends "layout.html" %}
{% block title %}
Catalog
{% endblock %}
{% block content %}

<form method="get" action="http://localhost:5000/catalog/search">
    <select name="colName" id="colName">
        {% for i in range(colNames|length) %}
        <option value={{colNames[i]}}>{{colNames[i]}}</option>
        {% endfor %}
    </select>
    <select name="comparator" id="comparator">
        <option value="=">=</option>
        <option value=">">></option>
        <option value="<"><</option>
        <option value=">=">⩾</option>
        <option value="<=">⩽</option>
    </select>
    <input type="search" id="searchInput" name="searchInput" required>
    <button type="submit">Search</button>
</form>

<table id = "tableData">
    <thead>
        <tr class = "border" id = "trNames">
            {% for col in displayedColNames %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in range(records|length) %}
        {% set link = "location.href='/record/"+i|string+"'" %}
        <tr class = "border" onclick={{link}}>
            {% for col in colNames %}
            <td id = "tdData">{{ records[i][col] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody> 
</table>

{% endblock %}
