{% extends "layout.html" %}
{% block title %}
Catalog
{% endblock %}
{% block content %}

<!--Search form-->
<form method="get" action="http://localhost:5000/catalog/search">
    <select name="colName" id="colName" onChange="checkComparatorDisplaying()">
        {% for i in range(displayedColNames|length) %}
        <option value={{i}}>{{displayedColNames[i]}}</option>
        {% endfor %}
    </select>
    <select name="comparator" id="comparator" style="display: none;">
        <option value="=">=</option>
        <option value="≃" style="display: none;" id="aroundComparator">≃</option>
        <option value="truncated" style="display: none;" id="truncatedToComparator">truncated to</option>
        <option value=">">></option>
        <option value="<"><</option>
        <option value=">=">⩾</option>
        <option value="<=">⩽</option>
    </select>
    <input type="search" id="searchInput" name="searchInput" required>
    <button type="submit">Search</button>
</form>

<!--Script checking the column type of the selected column in the search form to display a correct comparator (or no comparator if string)-->
<script>
    var colTypes = {{colTypes|tojson}};
    var comparator = document.getElementById("comparator");
    var aroundComparator = document.getElementById("aroundComparator");
    var truncatedToComparator = document.getElementById("pdtruncatedToComparator");

    function checkComparatorDisplaying() {
        var selectedIndex = document.getElementById("colName").selectedIndex;
        if (colTypes[selectedIndex]=="str") {
            comparator.style.display="none";
        }
        else {
            comparator.style.display="inline";
            if (colTypes[selectedIndex]=="float") {
                aroundComparator.style.display="inline";
                truncatedToComparator.style.display="inline";
            }
            else {
                aroundComparator.style.display="none";
                truncatedToComparator.style.display="none"
                comparator.selectedIndex="0";
            }
        } 
    }
</script>

<!--Checkbox used for hide columns-->
<fieldset>
    {% for col in colNames %}
        <input type = "checkbox" name = "{{col}}" checked = "checked">
        <label for="col">{{displayedColNames[loop.index0]}}</label>
    {% endfor %}
</fieldset>

<button onclick="exportToCSV()" style="margin-top: 15px;">Export</button>

<!--Data table-->
<table id = "tableData">
    <thead id = "theadData">
        <tr>
            {% for col in displayedColNames %}
            <th class = "{{colNames[loop.index0]}}">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in range(records|length) %}
        {% set link = "location.href='/record/"+i|string+"'" %}
        <tr class = "border" onclick={{link}}>
            {% for col in colNames %}
            <td class = "{{col}}" id = "tdData">{{ records[i][col] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody> 
</table>

<!--Script for hiding columns in the table-->
<script>
    $("input:checkbox:not(:checked)").each(function() {
        var column = "table ." + $(this).attr("name");
        $(column).hide();
    });

    $("input:checkbox").click(function(){
        var column = "table ." + $(this).attr("name");
        $(column).toggle();
    });
</script>

<!--Script exporting the records into a downloadable csv file-->
<script>
const colNames = {{colNamesList|tojson}};
function exportToCSV() {
    var records = {{records|tojson}};
    var csvData="";
    
    for (i=0;i<colNames.length;i++) {
        csvData=csvData.concat(colNames[i],",");
    }  
    csvData=csvData.substring(0,csvData.length-1);
    csvData=csvData.concat("\n");
    
    for (i=0;i<records.length;i++) {
        for (j=0;j<colNames.length;j++) {
            csvData=csvData.concat(records[i][colNames[j]],",");
        }
        csvData=csvData.substring(0,csvData.length-1);
        csvData=csvData.concat("\n");
    }
    
    var data = new Blob([csvData],{type:"text/plain"});
    
    fileURL=window.URL.createObjectURL(data);    
    
    var link=document.createElement("a");
    link.setAttribute("href",fileURL);
    link.setAttribute("download","table.csv");
    document.body.append(link);
    link.click();
    link.remove();
}
</script>

{% endblock %}
