{% extends "layout.html" %}
{% block title %}
Graph
{% endblock %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<div id = "graph-menu">
    <p>
        <label for = "x-select"> X axis:</label>
        <select onchange="getVal()" id = "x-select">
            <option value = "">--Chose an x axis--</option>
            <optgroup label="Planet parameters">
                <option value = "{{colNames[5]}}">Number of Planets in System</option>
                <option value = "{{colNames[6]}}">Orbital Period [days]</option>
                <option value = "{{colNames[11]}}">Orbit Semi-Major Axis [au]</option>
                <option value = "{{colNames[16]}}">Eccentricity</option>
                <option value = "{{colNames[21]}}">Inclination [deg]</option>
                <option value = "{{colNames[26]}}">Planet Mass or M*sin(i) [Jupiter mass]</option>
                <option value = "{{colNames[32]}}">Planet Radius [Jupiter radii]</option>
                <option value = "{{colNames[37]}}">Planet Density [g/cm**3]</option>
            </optgroup>
            <optgroup label="Star parameters">
                <option value = "{{colNames[45]}}">RA [sexagesimal]</option>
                <option value = "{{colNames[46]}}">Dec [sexagesimal]</option>
                <option value = "{{colNames[47]}}">RA [decimal degrees]</option>
                <option value = "{{colNames[49]}}">Dec [decimal degrees]</option>
                <option value = "{{colNames[52]}}">Distance [pc]</option>
                <option value = "{{colNames[57]}}">Optical Magnitude [mag]</option>
                <option value = "{{colNames[61]}}">G-band (Gaia) [mag]</option>
                <option value = "{{colNames[64]}}">Effective Temperature [K]</option>
                <option value = "{{colNames[69]}}">Stellar Mass [Solar mass]</option>
                <option value = "{{colNames[74]}}">Stellar Radius [Solar radii]</option>
            </optgroup>
        </select>
    </p>
    <p>
        <label for = "y-select"> Y axis:</label>
        <select onchange="getVal()" id = "y-select">
            <option value = "">--Chose an y axis--</option>
            <optgroup label="Planet parameters">
                <option value = "{{colNames[5]}}">Number of Planets in System</option>
                <option value = "{{colNames[6]}}">Orbital Period [days]</option>
                <option value = "{{colNames[11]}}">Orbit Semi-Major Axis [au]</option>
                <option value = "{{colNames[16]}}">Eccentricity</option>
                <option value = "{{colNames[21]}}">Inclination [deg]</option>
                <option value = "{{colNames[26]}}">Planet Mass or M*sin(i) [Jupiter mass]</option>
                <option value = "{{colNames[32]}}">Planet Radius [Jupiter radii]</option>
                <option value = "{{colNames[37]}}">Planet Density [g/cm**3]</option>
            </optgroup>
            <optgroup label="Star parameters">
                <option value = "{{colNames[45]}}">RA [sexagesimal]</option>
                <option value = "{{colNames[46]}}">Dec [sexagesimal]</option>
                <option value = "{{colNames[47]}}">RA [decimal degrees]</option>
                <option value = "{{colNames[49]}}">Dec [decimal degrees]</option>
                <option value = "{{colNames[52]}}">Distance [pc]</option>
                <option value = "{{colNames[57]}}">Optical Magnitude [mag]</option>
                <option value = "{{colNames[61]}}">G-band (Gaia) [mag]</option>
                <option value = "{{colNames[64]}}">Effective Temperature [K]</option>
                <option value = "{{colNames[69]}}">Stellar Mass [Solar mass]</option>
                <option value = "{{colNames[74]}}">Stellar Radius [Solar radii]</option>
            </optgroup>
        </select>
    </p>
    <p><button onclick="updateData()">Update graph</button></p>
    <p>For a better visibility, only 1000 points are represented.</p>
    <p>All graph are ploted in log scale.</p>
    <p><button onclick="downloadGraph()">Download as png</button></p>
</div>

<div id = "graph-canvas">
    <canvas id="Chart" width="650" height="420"></canvas>
</div>


<script type="text/javascript">
    var initJson = {{records|tojson}};

    var dataArray = [];
    for (var i in initJson) {
        var item = initJson[i];
        dataArray.push(item);
    }



    //Detect the value of the dropdown menus 
    function getVal() {
        var xSelectValue = $('#x-select').find(":selected").val();
        var ySelectValue = $('#y-select').find(":selected").val();
        return [xSelectValue, ySelectValue];
    }

    //Create an array that contains the data
    function getData(dataArray) {
        var values = getVal();
        var xValue = values[0];
        var yValue = values[1];

        var myData = {
            data: []
        };
        
        for (var i in dataArray) {
            if (i < 1000) {
                var item = dataArray[i];
                var xItem = item[xValue];
                var yItem = item[yValue];

                myData.data.push({
                    "x" : xItem,
                    "y" : yItem
                });
            }
        }
        return myData.data;
    }

    //Create a Chart.js graph (see https://www.chartjs.org/ for documentation)
    const ctx = document.getElementById('Chart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                data: getData(dataArray),
                borderWidth: 1,
                pointRadius: 3,
                pointBackgroundColor: 'black',
                fill: false,
                showLine: false
            }]
        },
        options: {
            legend: {
                display: false,
            },
            scales: {
                xAxes: [{
                    type: 'logarithmic',
                    ticks: {
                        beginAtZero: true
                    }
                }],
                yAxes: [{
                    type: 'logarithmic',
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


    function updateData() {
        myChart.data.datasets[0].data = getData(dataArray);
        myChart.update();
    }



    //Function to export graphs as png
    function downloadGraph() {
        var a = document.createElement('a');
        a.href = myChart.toBase64Image();
        a.download = 'graphic.png';
    
        a.click();  // Trigger the download
    }
</script>
{% endblock %}
