{% extends "layout.html" %}
{% block title %}
{{record["pl_name"]}}
{% endblock %}
{% block content %}

<!--Macro to handle the potential presence of uncertainties next to the value-->
{% macro valueWithUncertainty(valueKey) %}
    {% if isnan(record[valueKey]) %}
        {{"/"}}
    {% else %}
        <span>{{record[valueKey]}}</span>
        {% if not isnan(record[valueKey+"err1"]) %}
            {% if record[valueKey+"err1"]==-record[valueKey+"err2"] %}
                <span>±{{record[valueKey+"err1"]}}</span>
            {% else %}
                <sup class="maxError">+{{record[valueKey+"err1"]}}</sup>
                <sub class="minError">{{record[valueKey+"err2"]}}</sub>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

<button onclick="exportRecordPNG()" style="/*! margin-left: auto; */margin-top: 20px;">Export to PNG</button>
<button onclick="exportRecordPDF()" style="/*! margin-left: auto; */margin-top: 20px;">Export to PDF</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script>
<!--Export the datasheet to a downloadable pdf file-->
function exportRecordPDF() {
    var doc = new jsPDF();
    var toExport = $('#recordTablesDiv').html();
    var specialElementHandlers = {};
    
    doc.fromHTML(toExport, 15, 15, {
        'width': 200,
        'elementHandlers': specialElementHandlers
    });
    
    var name = $('#planetName').html();
    name.concat('.pdf');

    doc.save(name);
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script>
<!--Export the datasheet to a downloadable png file-->
function exportRecordPNG() {

    var name = $('#planetName').html();
    name.concat('.png');

    html2canvas(document.getElementById("recordTablesDiv"), 
        {
          onrendered: function (canvas) {
            var a = document.createElement('a');
            a.href = canvas.toDataURL();
            a.download = name;
            a.click();
            a.remove();
          }
        });

}
</script>

<div class="recordTablesDiv" id="recordTablesDiv">
    <h1 id="planetName">Planet {{record["pl_name"]}}</h1>

    <div class="leftTables">
        <table class="recordTable" id="discoveryTable">
            <h2>Discovery characteristics</h2>
            <tr><td>Discovery Method</td><td>{{record["pl_discmethod"]}}</td></tr>
            <tr><td>TTV from another planet</td><td>{%if record["pl_ttvflag"]==0%}{{"No"}}{%elif record["pl_ttvflag"]==1%}{{"Yes"}}{%endif%}</td></tr>
            <tr><td>Planetary system signature in data of Kepler mission</td><td>{%if record["pl_kepflag"]==0%}{{"No"}}{%elif record["pl_kepflag"]==1%}{{"Yes"}}{%endif%}</td></tr>
            <tr><td>Planetary system signature in data of K2 mission</td><td>{%if record["pl_k2flag"]==0%}{{"No"}}{%elif record["pl_k2flag"]==1%}{{"Yes"}}{%endif%}</td></tr>
            <tr><td>Date of Last Update</td><td>{{record["rowupdate"]}}</td></tr>
            <tr><td>Discovery Facility</td><td>{{record["pl_facility"]}}</td></tr>
            <tr><td>Controversial Flag</td><td>{%if record["pl_controvflag"]==0%}{{"No"}}{%elif record["pl_controvflag"]==1%}{{"Yes"}}{%endif%}</td></tr>
        </table>

        <table class="recordTable" id="astrometryTable">
            <h2>Astrometric characteristics</h2>
            <tr><td>RA [sexagesimal]</td><td>{{record["ra_str"]}}</td></tr>
            <tr><td>Dec [sexagesimal]</td><td>{{record["dec_str"]}}</td></tr>
            <tr><td>Distance [pc]</td><td>{{valueWithUncertainty("st_dist")}}</td></tr>
            <tr><td>Optical Magnitude [mag]</td><td>{{record["st_optmag"]}}</td></tr>
            <tr><td>Optical Magnitude Band</td><td>{{record["st_optband"]}}</td></tr>
            <tr><td>G-band (Gaia) [mag]</td><td>{{record["gaia_gmag"]}}</td></tr>
        </table>

        <table class="recordTable" id="physicalTable">
            <h2>Physical characteristics</h2>
            <tr><td>Planet Mass or M*sin(i) [Jupiter Mass]</td><td>{{valueWithUncertainty("pl_bmassj")}}</td></tr>
            <tr><td>Planet Mass or M*sin(i) Provenance</td><td>{{record["pl_bmassprov"]}}</td></tr>
            <tr><td>Planet Radius [Jupiter radii]</td><td>{{valueWithUncertainty("pl_radj")}}</td></tr>
            <tr><td>Planet Density [g/cm**3]</td><td>{{valueWithUncertainty("pl_dens")}}</td></tr>
        </table>
    </div>

    <div class="rightTables">
        <table class="recordTable" id="orbitTable">
            <h2>Orbital characteristics</h2>
            <tr><td>Orbital Period [days]</td><td>{{valueWithUncertainty("pl_orbper")}}</td></tr>
            <tr><td>Orbit Semi-Major Axis [au]</td><td>{{valueWithUncertainty("pl_orbsmax")}}</td></tr>
            <tr><td>Eccentricity</td><td>{{valueWithUncertainty("pl_orbeccen")}}</td></tr>
            <tr><td>Inclination [deg]</td><td>{{valueWithUncertainty("pl_orbincl")}}</td></tr>
        </table>

        <table class="recordTable" id="starTable">
            <h2>Star characteristics</h2>
            <tr><td>Host Name</td><td>{{record["pl_hostname"]}}</td></tr>
            <tr><td>Number of Planets in System</td><td>{{record["pl_pnum"]}}</td></tr>
            <tr><td>Effective Temperature [K]</td><td>{{valueWithUncertainty("st_teff")}}</td></tr>
            <tr><td>Stellar Mass [Solar mass]</td><td>{{valueWithUncertainty("st_mass")}}</td></tr>
            <tr><td>Stellar Radius [Solar radii]</td><td>{{valueWithUncertainty("st_rad")}}</td></tr>
        </table>
    </div>
</div>

{% endblock %}